
body{
 margin: 0px;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    color: white;
    background: dimgrey;
    font-family: sans-serif;
    vertical-align: center;
}


.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    margin: 5px;
    border-radius: 5px;
    flex: 20%;
    width: 20%;
}

.item div{
    background-color: darkgray;
}


.back{
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    font-size: 22px;
}

.title{
    font-family: 'Pangolin', cursive;
    font-size: 40px;
    margin: auto 10px;
}


